<div class="animated-sea">  
    <img src="/static/assets/upper-wave.svg" id="upper-wave">
    <img src="/static/assets/lower-wave.svg" id="lower-wave">
    <img src="/static/assets/boat.png" id="boat">
</div>