<nav class="navigation-bar">
    <ol>
        <li><a href="/home">Home</a></li>
        <li><a href="">Manage</a></li>
        <li><a href="/new">New Post</a></li>
    </ol>
    <ol>
        <li><a href="/logout"><img class="logout-icon" src="/static/assets/logout.svg" /></a></li>
    </ol>
</nav>