<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/styles/base.css" />
    <link rel="stylesheet" href="/static/styles/login.css" />
    <script src="/static/scripts/welcome.js" defer></script>
</head>
<body>
    <div class="container">
        <div class="form-wrapper">
            <form class="form-login">
                <input type="text" placeholder="Username"/>
                <input type="password" placeholder="Password"/>
                <button type="submit">Login</button>
            </form>
        </div>
        <div class="sun to-right"></div>

        <%- include('components/footer-animated-sea.ejs') %>
    </div>
</body>
</html>