<%- include('components/head', {pageTitle: 'New Blog'}) %>
<link rel="stylesheet" href="static/styles/navigation.css">
<link rel="stylesheet" href="static/styles/blog.css">
<link rel="stylesheet" href="static/styles/blog-details.css">
<script src="https://cdn.ckeditor.com/ckeditor5/35.1.0/classic/ckeditor.js"></script>
</head>
<body>
<div class="container">
    <%- include('components/nav-bar') %>
    <div class="blog-wrapper">
        <form class="blog" method="POST" action="/new-blog">
            <input class="underline-input title" name="title" type="text" placeholder="Title of the blog">
            <textarea class="bordered-input description" name="description" placeholder="Type the descriptions here..." rows="3"></textarea>
            <textarea class="markdown" id="markdown" name="content"></textarea>
            <button class="btn btn-submit">Submit</button>
        </form>
    </div>
    <%- include('components/footer-animated-sea.ejs') %>
    <script>
        ClassicEditor
            .create(document.querySelector('.markdown'), {
                ckfinder: {
                    uploadUrl: '/upload-image',
                    options: {
                        resourceType: 'Images'
                    }
                }
            })
            .then(editor => {
                // editor.ui.view.editable.element.style.height = '500px';
            })
            .catch(error => {
                    console.error( error );
            });
    </script>
</div>
</body>
</html>