    <%- include('components/head', {pageTitle: "KaLok's Blog Backend"}) %>
    <script src="/static/scripts/welcome.js" defer></script>
</head>
<body>
    <div class="container sunrise-black-to-light">
        <div class="banner-container">
            <h1 id="banner"><span>Ka</span><span id="secret-login">L</span><span>ok's Blog Backend</span></h1>
            <button id="login-btn" onclick="location.href='/login'">Login</button>
        </div>
        <div class="sun sunrise"></div>
       
        <%- include('components/footer-animated-sea.ejs') %>
    </div>
</body>
</html>