@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --text-stroke: #000;
    --light-gray: #cbbdbd;
    --light-gray-hover: #847A7A;
    --sun-size: 10vw;
    --sun-top: 25vh - 4vw; 
    /* --sun-top: 25vh + 2vw;  */
    --sun-left: 50% - 5vw;
    --sun-shawdow-size: 10vw * 5;
    --sun-shawdow-blur: 130px;
}

body {
    margin: 0;
    background: linear-gradient(180deg, rgba(60, 110, 238, 0.33) 0%, rgba(188, 61, 220, 0.33) 75%);
    height: 100vh;
    overflow: hidden; /* Not able to scroll more than the container */
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    overflow: hidden; /* The wave won't extend the page after this*/
}

.banner-container {
    margin: 25vh auto 0 auto;
    position: relative;
    display: inline-block;
    width: fit-content; 
    height: fit-content;
}

.banner-container #banner{
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 120px;
    font-size: 10vw;
    color: #585858;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
    padding: 0;
    margin: 0;
    user-select: none;
    filter: brightness(1.3);
}

.banner-container #secret-login {
    cursor: pointer;
    color: var(--light-gray);
    margin: 0;
    padding: 0;
}

.banner-container #secret-login:hover {
    color: var(--light-gray-hover);
}

.banner-container #login-btn {
    display: none;
    font-family: 'Irish Grover', cursive;
    font-size: 30px;
    font-size: 2.4vw;
    letter-spacing: 0.2em;
    padding: 4px 24px;
    border: 4px solid var(--text-stroke);
    border-radius: 6px;
    margin-left: 7vw;
    cursor: pointer;
}

.banner-container #login-btn:hover {
    background-color: var(--light-gray);
}

#login-btn.show {
    display: block;
}

/* .login-block {
    position: absolute;
    left: 12%;
    bottom: -30%;
    background-color: red;
    padding: 20px 40px;
} */

.container .sun {
    position: absolute;
    top: calc(var(--sun-top));
    left: calc(var(--sun-left));
    width: var(--sun-size);
    min-width: 100px;
    height: var(--sun-size);
    min-height: 100px;
    background: linear-gradient(180deg, #f08c32, #ee776f, transparent);
    background-size: 200% 200%;
    border-radius: 100%;
    /* filter: blur(20px); */
    /* animation: sunrise 1s normal ease-in; */
    z-index: -2;
}

.container .sun::after {
    content: '';
    position: absolute;
    top: calc((10vw / 2) + (var(--sun-shawdow-size) / -2));
    left: calc((10vw / 2) + (var(--sun-shawdow-size)/ -2));
    width: calc(var(--sun-shawdow-size));
    height: calc(var(--sun-shawdow-size));
    background: radial-gradient(circle, rgb(255, 135, 77, 0.4) 0%, rgba(255, 174, 188, 0.8) 70%, transparent);
    border-radius: 100%;
    filter:blur(var(--sun-shawdow-blur));
    z-index: -3;
}

.container .sun.sunrise {
    animation: sunrise 1s normal ease-in;
}

.container .sun.to-right {
    top: calc(var(--sun-top) - 10vh);
    left: calc(var(--sun-left) + 35vw);
    animation: toright 2s normal ease-in;
}

.container .animated-sea{
    user-select: none;
    pointer-events: none; /* to prevent image getting drag*/
}

.container .animated-sea img{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.animated-sea #upper-wave {
    z-index: -2;
    animation: waves 2s linear infinite;
}

.animated-sea #lower-wave {
    animation: waves 4s linear infinite;
    animation-delay: 2s;
}

.animated-sea #boat {
    /* height: 240px;
    width: 240px; */
    z-index: -1;
    height: 30vh;
    width: 30vh;
    bottom: 7vh;
    left: 5vw;
    animation: boat 10s linear infinite;
}

.sunrise-black-to-light {
    animation: sunrise-background .5s ease-in;
}

@keyframes sunrise {
    0% {
        transform: translateY(90vh);
        filter: blur(50px);
    }
    /* 60% {
        transform: translateY(-5vh);
    } */
    100% {
        transform: translateY(0vh);
        filter:  blur(0px);
    }
}

@keyframes toright {
    0% {
        top: calc(var(--sun-top));
        left: calc(var(--sun-left));
    }
    100% {
        top: calc(var(--sun-top) - 10vh);
        left: calc(var(--sun-left) + 35vw);
    }
}

@keyframes sunrise-background {
    0% {
        filter: brightness(0.3);
    }
    100% {
        filter: brightness(1);
    }
}

@keyframes waves {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes boat {
    0% {
        transform: translateY(0) translateX(-20vw) rotate(0deg);
    }
    10% {
        transform: translateY(4vh) translateX(0vw) rotate(10deg);
    }
    20% {
        transform: translateY(0) translateX(20vw) rotate(0deg);
    }
    30% {
        transform: translateY(3vh) translateX(30vw) rotate(-6deg);
    }
    40% {
        transform: translateY(0) translateX(40vw) rotate(0deg);
    }
    50% {
        transform: translateY(4vh) translateX(50vw) rotate(8deg);
    }
    60% {
        transform: translateY(0) translateX(60vw) rotate(0deg);
    }
    70% {
        transform: translateY(2vh) translateX(70vw) rotate(-9deg);
    }
    80% {
        transform: translateY(0) translateX(80vw) rotate(0deg);
    }
    90% {
        transform: translateY(2vh) translateX(90vw) rotate(10deg);
    }
    100% {
        transform: translateY(0) translateX(100vw) rotate(0deg);
    }
}