@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');

:root {
    --description-color: rgb(197, 128, 134);
}

.blog-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 60px; /* for showing the last card */
    font-family: 'Hepta Slab', serif;
    overflow-y: scroll;
    padding: 20px 30px;
}

.blog {
    width: 80vw;
    max-width: 900px;
    height: auto;
    min-height: 90vh;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    border: 4px solid #F7B0B0;
    border-radius: 40px;
    margin-bottom: 30px;
    padding: 40px 50px;
    display: flex;
    flex-direction: column;
    font-family: 'Ubuntu', sans-serif;
    overflow: auto;
}

h2,
p {
    margin: 0;
}

.blog .title {
    font-size: 2.5rem;
    /* margin-bottom: 0.5rem; */
}

.blog .date {
    font-family: 'Ubuntu', sans-serif;
    /* font-style: italic; */
    font-size: 1.2rem;
    font-weight: 300;
    color: #3f3e3e;
    margin-bottom: 1.5rem;
}

.blog .description {
    font-size: 1.3rem;
    color: var(--description-color);
    padding-left: 1rem;
    border-left: 4px solid var(--description-color);
    margin-bottom: 3rem;
}

.blog .blog-content h2,
.blog .blog-content h3,
.blog .blog-content h4 {
    margin-top: 3rem;
    margin-bottom: 0.6rem;
    border-bottom: 3px solid rgba(0, 0, 0, 0.1);
}

.blog .blog-content p {
    line-height: 160%;
}

.blog .blog-content blockquote{
    margin-left: 0;
    color:rgba(0, 0, 0, 0.8);
    font-weight: bold;
    padding-left: 1.5rem;
    border-left: 4px solid var(--description-color);
}

.blog .blog-content figure {
    margin: 1rem 2rem;
}

.blog .blog-content img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}