@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');

.navigation-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 40px 50px;
    max-height: 10vh;
    max-height: 120px;
}

.navigation-bar ol{
    list-style: none;
    user-select: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.navigation-bar ol li {
    font-family: 'Irish Grover', cursive;
    font-size: 1.875rem;
    color: #EF7870;
}

.navigation-bar ol li a {
    text-decoration: none;
    color: inherit;
}

.navigation-bar ol li a:hover {
    color: #F2493E;
}

.navigation-bar ol li a:active {
    color: #EF7870;
}

.logout-icon {
    cursor: pointer;
    height: 45px;
    width: 45px;
    display: block;
    user-select: none;
    /* filter: invert(78%) sepia(2%) saturate(7496%) hue-rotate(314deg) brightness(99%) contrast(108%); */
    /* filter: invert(96%) sepia(96%) saturate(486%) hue-rotate(290deg) brightness(97%) contrast(110%); */
    filter: invert(59%) sepia(20%) saturate(1331%) hue-rotate(315deg) brightness(95%) contrast(98%);
}

.logout-icon:hover {
    filter: invert(78%) sepia(2%) saturate(7496%) hue-rotate(314deg) brightness(99%) contrast(108%);
    /* filter: invert(59%) sepia(20%) saturate(1331%) hue-rotate(315deg) brightness(95%) contrast(98%); */
}

.logout-icon:active {
    scale: 1.05;
}